@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-medium-bold {
  font-weight: 500;
}
li {
  @apply px-5;
  @apply cursor-pointer;
  @apply font-medium-bold;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

@layer components {
  .nav-link::after {
    content: "";
    transition: width 0.3s;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #f1dabf, #e4cdb1);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .nav-link:hover::after {
    width: 100%;
  }
  .nav-link.active::after {
    width: 100%;
  }
}
.nav-link.active::after {
  width: 100%;
}
.react-datepicker__header {
  background-color: #04a777 !important;
}
.react-datepicker__current-month {
  color: #fffbff !important;
}
.react-datepicker__day-name {
  color: #fffbff !important;
}
.react-datepicker__day--in-range {
  background-color: #04a777 !important;
}
.react-datepicker__day--keyboard-selected {
  color: #fffbff !important;
  background-color: #04a7763e !important;
}
.react-datepicker__day--keyboard-selected:hover {
  background-color: #04a776b4 !important;
}
.react-datepicker__day--in-selecting-range {
  background-color: #04a776b3 !important;
}
.react-datepicker__day--range-start {
  background-color: #05835d !important;
}
.react-datepicker__day--range-end {
  background-color: #05835d !important;
}
.gm-style-mtc {
  display: none;
}
.gm-style-cc {
  display: none;
}
